.navbar{
    height:80px;
}
.wrapper{
    padding:10px 30 px;
    display:flex;
    justify-content: space-between;

.left{
display: flex;
align-items:center;
gap:25px;
}

.item{
    display:flex;
    align-items: center;
    font-size:18px;
    
}

.right{
    display: flex;
    align-items:center;
    gap:25px;
    
}

.centre{
    display: flex;
    align-items:center;

    font-size:30px
}
.icons{
    display:flex;
    gap:15px;
    color: #777;
    cursor:pointer;
}

.cartIcon{
    position:relative;
    span{
        font-size:12px;
        width:20px;
        height:20px;
        color: rgb(37, 19, 148);
        background-color: blue($color: #1724d7);
        position:absolute;
        right:-10px;
        top:-10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

}