.slider{
    height:calc(100vh - 80px);
    width: 100vw;
position: relative;

    .container{
        height: 100%;
        width:300vw;
        display: flex;
    }

    img{
        height: 100%;
        width:100vw;
        object-fit:initial;
    }
.icons{
    position:absolute;
    width:fit-content;
    left:0;
    right:0;
    margin:auto;
    display: flex;
    bottom:100px;
    gap:10px;
    
    .icon{
        width:50px;
        height: 50px;
        border:1px solid #999;
        display: flex;
        align-items: center;
    }
}
}